.crew-container {
  height: 90vh;
}

.crew-heading {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.crew-names {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

mat-card {
  width: 40%;
  margin: 4px;
}
