.app-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.map {
  height: 100%;
  width: 100%;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}
