@import "~@angular/material/theming";
@include mat-core();

/* ======== Custom Theme ======== */
$iss-dark-primary: mat-palette($mat-blue-gray, 900);
$iss-dark-accent: mat-palette($mat-light-blue, 700);
$iss-dark-warn: mat-palette($mat-pink, 600);

$iss-dark-theme: mat-dark-theme($iss-dark-primary, $iss-dark-accent, $iss-dark-warn);

@include angular-material-theme($iss-dark-theme);
